__pycache__/
.idea/
/.idea/
.vscode/
venv2/
venv/
venv_linux/
tmp/
*.sqlite3
*~
*.pyc
*.log
/static/
*.bowerrc
*.bower.json
*.editorconfig
*.gitattributes
*.jshintrc
*.jscsrc
*.babelrc
*.beautifyrc
*.yml
*.csscomb.json
*.npmignore
*.jshintignore
*.release.json
*.stylelintrc.json
*.tagconfig
*.md
*development.py
*.old
*.scss
media/
secrets.json